/* Google Clone CSS */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    position: absolute;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    min-height: 550px;
    margin: 0 auto;
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 1.2em;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    padding: 2px 7px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav li {
    display: inline-block;
}

.top-nav {
    top: 0;
    background: #2D2D2D;
}

.top-nav li {
    float: left;
}

.top-nav li a {
    display: inline-block;
    color: #bbb;
    font-weight: bold;
    padding: 6px 10px 5px;
}

.top-nav li a:hover, .selected {
    color: #fff !important;
}

.more {
    position: relative;
}

.triangle {
    position: absolute;
    right: -2px;
    top: 13px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #bbb;
}

.more:hover .triangle {
    border-top: 3px solid #fff;
}

.bottom-nav {
    text-align: right;
    bottom: 0;
    padding-right: 40px;
    border-top: 1px solid #e7e7e7;
}

.bottom-nav .nav {
    float: right;
    margin-right: 35px;
}

.bottom-nav li a {
    display: inline-block;
    color: #555;
    padding: 4px 9px 8px;
}

.bottom-nav li a:hover {
    text-decoration: underline;
}

.search {
    width: 575px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 275px;
    margin: 193px auto 23px;
}

.search .input input {
    font-size: 14px;
    width: 99%;
    height: 25px;
    border: 1px solid #ddd;
    box-shadow: none;
    outline: 0;
    text-indent: 5px;
}

.input {
    position: relative;
}

.input .mic {
    position: absolute;
    width: 18px;
    height: 20px;
    top: 4.5px;
    right: 1px;
    padding: 4px 5px 0 4px;
    opacity: .6;
    cursor: pointer;
    background: url(images/mic.gif) no-repeat;
}

.mic:hover {
    opacity: 1;
}

.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    bottom: -33px;
    color: #fff;
    content: attr(title);
    right: -40px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #fff;
    box-shadow: 0 2px 3px #999;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    bottom: -7px;
    content: "";
    right: 10px;
    position: absolute;
    z-index: 99;
}

.search input:hover {
    border: 1px solid #bbb;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.search input:focus {
    border: 1px solid #4D84F1;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);

}

.button {
    border-radius: 3px
}

.red.button {
    padding: 6px 15px;
    position: absolute;
    top: 50px;
    right: 43px;
    background: #D64A38;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #D64A38;
}

.red.button:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);
}

.buttons {
    width: 100%;
    margin: 23px auto;
    text-align: center;
}

.grey.button {
    padding: 7px 7px 8px 8px;
    margin: 0 6px;
    background: #f5f5f5;
    color: #565656;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    cursor: default;
}

.grey.button:hover {
    box-shadow: 0 1px 2px rgba(150,150,150,.3);
    border: 1px solid rgba(0,0,0,0.2);
}

.grey.button:active {
    box-shadow: inset 0 3px 5px rgba(200,200,200,.3);
    border: 1px solid rgba(0,0,0,0.2);
}

